Repository fabricadesoftware-ifc/fabricaNUPE_backEnd: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dev_backend_image push to container_registry, dev_frontend_image push to container_registry, docs build, dev_backend test, docs deploy, dev_frontend deploy

.gitlab-ci.yml:

stages:
    - pre-build
    - build
    - test
    - deploy

variables:
    GIT_STRATEGY: fetch
    DOCS_PATH: docs/_build/html
    DOCS_URL: http://nupe-documentation.surge.sh
    DIST_PATH: nupe_frontend/dist
    DIST_URL: http://nupe-frontend.surge.sh

dev_backend_image push to container_registry:
    image:
        name: gcr.io/kaniko-project/executor:debug
        entrypoint: [""]
    stage: pre-build
    variables:
        IMAGE_TAG: $CI_REGISTRY_IMAGE/nupe:backend
    before_script:
        - mkdir -p /kaniko/.docker
        - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
    script: /kaniko/executor --context $CI_PROJECT_DIR --dockerfile $CI_PROJECT_DIR/dev_backend.Dockerfile --destination $IMAGE_TAG
    rules:
        - if: $CI_COMMIT_BRANCH == "develop"
          changes:
              - dev_backend.Dockerfile
              - poetry.lock
              - pyproject.toml

dev_frontend_image push to container_registry:
    extends: dev_backend_image push to container_registry
    variables:
        IMAGE_TAG: $CI_REGISTRY_IMAGE/nupe:frontend
    script: /kaniko/executor --context $CI_PROJECT_DIR --dockerfile $CI_PROJECT_DIR/dev_frontend.Dockerfile --destination $IMAGE_TAG
    rules:
        - if: $CI_COMMIT_BRANCH == "develop"
          changes:
              - dev_frontend.Dockerfile
              - nupe_frontend/package-lock.json
              - nupe_frontend/package.json

docs build:
    image: $CI_REGISTRY_IMAGE/nupe:backend
    stage: build
    before_script:
        - ./manage.py generate_swagger -o docs/api/schema.yaml
    script: make -C docs/ html
    artifacts:
        name: docs
        paths:
            - $DOCS_PATH
        expire_in: 1h
    rules:
        - if: $CI_COMMIT_BRANCH == "develop"
          changes:
              - docs/**/*
    cache:
        key: docs build
        policy: push
        paths:
            - $DOCS_PATH

dev_backend test:
    image: $CI_REGISTRY_IMAGE/nupe:backend
    stage: test
    script: python manage.py test
    rules:
        - if: $CI_COMMIT_BRANCH == "develop"
          changes:
              - manage.py
              - nupe/**/*
          allow_failure: true

dev_backend check dependencies:
    extends: dev_backend test
    script: python manage.py check_vulnerabilities
    rules:
        - if: $CI_COMMIT_BRANCH == "develop"
          allow_failure: true

docs deploy:
    image: node
    stage: deploy
    variables:
        GIT_STRATEGY: none
    before_script:
        - npm install -g surge
    script: surge -p $DOCS_PATH -d $DOCS_URL
    rules:
        - if: $CI_COMMIT_BRANCH == "develop"
          changes:
              - docs/**/*
    cache:
        key: docs build
        policy: pull
    environment:
        name: docs-nupe
        url: $DOCS_URL
    needs:
        - docs build

dev_frontend build:
    image: $CI_REGISTRY_IMAGE/nupe:frontend
    stage: build
    before_script:
        - mkdir nupe_frontend/node_modules/
    script: npm run build
    # rules:
    #     - if: $CI_COMMIT_BRANCH == "develop"
    #       changes:
    #           - nupe_frontend/**/*
    cache:
        key: dev_frontend build
        policy: push
        paths:
            - $DIST_PATH

dev_frontend deploy:
    extends: docs deploy
    script: surge -p $DIST_PATH -d $DIST_URL
    # rules:
    #     - if: $CI_COMMIT_BRANCH == "develop"
    #       changes:
    #           - nupe_frontend/**/*
    cache:
        key: dev_frontend build
        policy: pull
    environment:
        name: frontend-nupe
        url: $DIST_URL
    needs:
        - dev_frontend build

Finalizar correcao. #55
  .gitlab-ci.yml
Due: none

Deploy frontend
  nupe_frontend/package.json
Due: dev_frontend_image push to container_registry

Testar Deploy frontend
  .gitlab-ci.yml
  nupe_frontend/package.json
Due: dev_frontend_image push to container_registry

Testar Deploy frontend
  .gitlab-ci.yml
Due: none

Finalizar correcao e refatoracao dos jobs
  .gitlab-ci.yml
Due: none

Finalizar refatoracao dos testes unitarios da app file. #54
  .coveragerc
  .env.dev_backend
  .env.dev_frontend
  dev_backend.Dockerfile
  docker-compose.yml
  docs/modules/services-file.rst
  docs/pages/code.rst
  invalid_image_to_test.txt
  nupe/core/models/course.py
  nupe/core/models/institution.py
  nupe/core/models/location.py
  nupe/core/serializers/person.py
  nupe/file/models/image_upload.py
  nupe/file/services/__init__.py
  nupe/file/services/image_upload.py
  nupe/settings.py
  nupe/tests/integration/file/image_upload.py
  nupe/tests/unit/core/models/course.py
  nupe/tests/unit/core/models/institution.py
  nupe/tests/unit/core/models/location.py
  nupe/tests/unit/core/models/person.py
  nupe/tests/unit/core/models/student.py
  nupe/tests/unit/file/models/image_upload.py
  nupe/tests/unit/file/services/__init__.py
  nupe/tests/unit/file/services/image_upload.py
  nupe/tests/utils.py
Due: dev_backend_image push to container_registry, docs build, dev_backend test, docs deploy, dev_frontend deploy

Finalizar refatoracao dos testes de integracao de course. #54
  nupe/core/serializers/course.py
  nupe/tests/integration/core/course.py
  nupe/tests/integration/core/setup/user.py
Due: dev_backend test

Finalizar refatoracao dos testes de integracao de institution. #54
  nupe/resources/messages/custom_handler_404.py
  nupe/tests/integration/core/course.py
  nupe/tests/integration/core/custom_handler_404.py
  nupe/tests/integration/core/institution.py
Due: dev_backend test

Finalizar refatoracao dos testes de integracao de location. #54
  nupe/core/serializers/location.py
  nupe/tests/integration/core/location.py
Due: dev_backend test

Finalizar refatoracao dos testes de integracao de person. #54
  nupe/core/serializers/person.py
  nupe/tests/integration/core/person.py
Due: dev_backend test

Finalizar refatoracao dos testes de integracao de student. #54
  nupe/core/models/student.py
  nupe/tests/integration/core/course.py
  nupe/tests/integration/core/institution.py
  nupe/tests/integration/core/location.py
  nupe/tests/integration/core/student.py
Due: dev_backend test

Finalizar refatoracao dos testes de integracao de user. #54
  nupe/tests/integration/core/user.py
Due: dev_backend test

Finalizar refatoracao dos testes de integracao de image_upload. #54
  nupe/tests/integration/file/image_upload.py
Due: dev_backend test

Finalizar correcao da relacao. #56
  docs/modules/models-core.rst
  invalid_image_to_test.txt
  nupe/core/filters/student.py
  nupe/core/management/commands/populate.py
  nupe/core/migrations/0003_add__academic_education_institution_campus__campus__institution__institution_campus.py
  nupe/core/migrations/0004_add__person.py
  nupe/core/migrations/0005_add__student__responsible.py
  nupe/core/models/__init__.py
  nupe/core/models/course.py
  nupe/core/models/institution.py
  nupe/core/models/student.py
  nupe/core/serializers/institution.py
  nupe/core/serializers/student.py
  nupe/core/signals/institution.py
  nupe/tests/integration/core/institution.py
  nupe/tests/integration/core/student.py
  nupe/tests/integration/file/image_upload.py
  nupe/tests/unit/core/models/__init__.py
  nupe/tests/unit/core/models/course.py
  nupe/tests/unit/core/models/institution.py
  nupe/tests/unit/core/models/person.py
  nupe/tests/unit/core/models/student.py
  nupe/tests/unit/file/models/image_upload.py
  nupe_frontend/components/register/Students/ListStudents.vue
Due: docs build, dev_backend test, docs deploy, dev_frontend deploy

Adicionar populate para criar superusuario padrao. #56
  nupe/core/management/commands/populate.py
Due: dev_backend test

Adicionar testes para a implementacao de account. #6
  nupe/account/models/account.py
  nupe/account/serializers/account.py
  nupe/account/views/account.py
  nupe/tests/integration/account/account.py
Due: dev_backend test

Finalizar implementacao. #6
  nupe/core/management/commands/populate.py
  nupe/core/models/job.py
  nupe/tests/integration/account/account.py
  nupe/tests/unit/core/models/institution.py
Due: dev_backend test

Remover account e person do admin. #6
  nupe/account/admin.py
Due: dev_backend test

Teste
  .gitlab-ci.yml
Due: none

Teste 2
  .gitlab-ci.yml
Due: none

Finalizar testes e correcao dos bugs. #60
  .gitlab-ci.yml
  nupe/account/migrations/0001_add__account.py
  nupe/account/models/account.py
  nupe/tests/integration/account/account.py
Due: dev_backend test

Corrigir detalhe no testes de profile_image. #60
  nupe/tests/unit/file/models/image_upload.py
Due: dev_backend test

Adicionar endpoint de function e sector, testes e documentacao. #59
  .vscode/settings.json
  docs/modules/serializers-core.rst
  nupe/core/migrations/0006_add__function__sector.py
  nupe/core/models/job.py
  nupe/core/router.py
  nupe/core/serializers/__init__.py
  nupe/core/serializers/course.py
  nupe/core/serializers/institution.py
  nupe/core/serializers/job.py
  nupe/core/serializers/location.py
  nupe/core/views/__init__.py
  nupe/core/views/job.py
  nupe/tests/integration/account/account.py
  nupe/tests/integration/core/__init__.py
  nupe/tests/integration/core/job.py
  nupe/tests/integration/core/person.py
  nupe/tests/integration/core/student.py
  nupe/tests/unit/core/models/__init__.py
  nupe/tests/unit/core/models/job.py
Due: docs build, dev_backend test, docs deploy, dev_frontend deploy

Adicionar git na imagem docker do frontend
  dev_frontend.Dockerfile
Due: dev_frontend_image push to container_registry

Adicionar endpoint, testes e documentacao para nec. esp., crises, drogas e motivo de atendimento. #7
  docs/modules/models-core.rst
  docs/modules/serializers-core.rst
  nupe/core/migrations/0007_add__special_need_type__crisis_type__drug_type__attendance_reason.py
  nupe/core/models/__init__.py
  nupe/core/models/reason.py
  nupe/core/router.py
  nupe/core/serializers/__init__.py
  nupe/core/serializers/course.py
  nupe/core/serializers/institution.py
  nupe/core/serializers/job.py
  nupe/core/serializers/location.py
  nupe/core/serializers/person.py
  nupe/core/serializers/reason.py
  nupe/core/serializers/student.py
  nupe/core/views/__init__.py
  nupe/core/views/reason.py
  nupe/tests/integration/core/__init__.py
  nupe/tests/integration/core/course.py
  nupe/tests/integration/core/institution.py
  nupe/tests/integration/core/job.py
  nupe/tests/integration/core/reason.py
  nupe/tests/unit/core/models/__init__.py
  nupe/tests/unit/core/models/reason.py
Due: docs build, dev_backend test, docs deploy, dev_frontend deploy

maxdepth: 2
  docs/index.rst
Due: docs build, docs deploy, dev_frontend deploy

Update lib django-filter para corrigir vulnerabilidade. #63
  poetry.lock
Due: dev_backend_image push to container_registry

Alterar relacao o2m para m2m e adicionar testes. #62
  nupe/core/migrations/0007_add__special_need_type__crisis_type__drug_type__attendance_reason.py
  nupe/core/models/__init__.py
  nupe/core/models/course.py
  nupe/core/models/institution.py
  nupe/core/models/job.py
  nupe/core/models/location.py
  nupe/core/models/person.py
  nupe/core/models/reason.py
  nupe/core/models/student.py
  nupe/core/serializers/reason.py
  nupe/tests/integration/core/reason.py
  nupe/tests/unit/core/models/__init__.py
  nupe/tests/unit/core/models/reason.py
Due: dev_backend test

Adicionar e configurar servico de postgres no compose. #64
  .env.dev_backend
  .env.dev_frontend
  dev_backend.Dockerfile
  dev_frontend.Dockerfile
  docker-compose.yml
  docs/pages/api.rst
  nupe/settings.py
  poetry.lock
  pyproject.toml
Due: dev_backend_image push to container_registry, dev_frontend_image push to container_registry, docs build, dev_backend test, docs deploy, dev_frontend deploy

Atualizar settings e fazer downgrade do django da versao 3 para 2. #65
  .gitlab-ci.yml
  dev_backend.Dockerfile
  nupe/account/migrations/0001_add__account.py
  nupe/settings.py
  poetry.lock
  pyproject.toml
Due: dev_backend_image push to container_registry, dev_backend test

Testar build frontend
  .gitlab-ci.yml
Due: none

Atualizar job de teste do backend. #65
  .gitlab-ci.yml
  .pre-commit-config.yaml
  docker-compose.yml
  nupe/account/migrations/0001_add__account.py
  nupe/account/models/account.py
  nupe/core/management/commands/check_vulnerabilities.py
  nupe/tests/integration/account/setup/account.py
  nupe/tests/integration/core/person.py
  poetry.lock
  pyproject.toml
Due: dev_backend_image push to container_registry, dev_backend test

Remover regra do job para fazer o build da imagem do backend. #65
  .gitlab-ci.yml
Due: none
