Repository fabricadesoftware-ifc/fabricaNUPE_backEnd: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dev_backend test, docs build

dev_backend test:
  stage: test
  image: python:3.6-slim-buster
  variables:
    GIT_STRATEGY: clone
    DEBUG: 'True'
    MEDIA_ROOT: media/test
    MEDIA_URL: /media/test/
  before_script:
  - apt-get update && apt-get install build-essential -y
  - pip3 install poetry==1.0.5 && poetry config virtualenvs.create false
  - poetry install
  ...

docs build:
  stage: build
  image: python:3.6-slim-buster
  variables:
    GIT_STRATEGY: clone
    DEBUG: 'True'
    MEDIA_ROOT: media/test
    MEDIA_URL: /media/test/
  before_script:
  - apt-get update && apt-get install build-essential -y
  - pip3 install poetry==1.0.5 && poetry config virtualenvs.create false
  ...

Finalizar testes de change rules. #46
  .gitlab-ci.yml
  manage.py
Due: dev_backend test

Corrigir expressao do if. #46
  .gitlab-ci.yml
Due: none

Utilizar a imagem do container registry
  .gitlab-ci.yml
  docs/pages/requirements.rst
  nupe/core/views/custom_handler_404.py
Due: dev_backend test, docs build

Utilizar a imagem do container registry
  .gitlab-ci.yml
  dev_backend.Dockerfile
  docs/pages/requirements.rst
  nupe/core/views/custom_handler_404.py
Due: dev_backend test, docs build

Adicionar job para fazer o push da imagem no registry. 46
  .gitlab-ci.yml
  docs/pages/good_practices.rst
Due: docs build

Adicionar job para fazer o push da imagem no registry. 46
  .gitlab-ci.yml
  dev_backend.Dockerfile
  docs/pages/good_practices.rst
Due: docs build

Testar todos os jobs. #46
  dev_backend.Dockerfile
  docs/pages/requirements.rst
  nupe/core/views/custom_handler_404.py
Due: dev_backend test, docs build

Finalizar testes e melhorias. #46
  .gitlab-ci.yml
Due: none

Corrigir detalhe da documentacao
  .gitlab-ci.yml
  docs/modules/commands-core.rst
  docs/modules/filters-core.rst
  docs/modules/models-core.rst
  docs/modules/models-file.rst
  docs/modules/serializers-core.rst
  docs/modules/serializers-file.rst
  docs/modules/services-file.rst
  docs/modules/signals-core.rst
  docs/modules/utilities-core.rst
  docs/pages/code.rst
Due: docs build

Adicionar etapa para gerar o schema.yaml da api. #47
  .gitlab-ci.yml
Due: none

Adicionar comando para verificar vulnerabilidades. #44
  nupe/core/management/commands/check_vulnerabilities.py
  nupe/core/management/commands/populate.py
  poetry.lock
  pyproject.toml
  vulnerabilities.json
Due: dev_backend test

Adicionar job para verificar vulnerabilidades. #44
  .gitignore
  .gitlab-ci.yml
  vulnerabilities.json
Due: none

Adicionar documentacao do novo comando. #44
  docs/modules/commands-core.rst
  nupe/core/management/commands/check_vulnerabilities.py
Due: dev_backend test, docs build

Adicionar comando para verificar vulnerabilidades. #44
  .gitignore
  .gitlab-ci.yml
  docs/modules/commands-core.rst
  nupe/core/management/commands/check_vulnerabilities.py
  nupe/core/management/commands/populate.py
  poetry.lock
  pyproject.toml
Due: dev_backend test, docs build

Atualizado associacao de profile_image com person, adicionado testes e documentacao. #42
  .vscode/launch.json
  docs/modules/models-file.rst
  docs/modules/serializers-core.rst
  docs/modules/serializers-file.rst
  docs/modules/services-file.rst
  nupe/core/migrations/0004_add__person.py
  nupe/core/models/person.py
  nupe/core/serializers/__init__.py
  nupe/core/serializers/person.py
  nupe/core/serializers/user.py
  nupe/core/views/user.py
  nupe/file/migrations/0001_add__image_upload.py
  nupe/file/migrations/0001_add__profile_image.py
  nupe/file/models/__init__.py
  nupe/file/models/image_upload.py
  nupe/file/router.py
  nupe/file/serializers/image_upload.py
  nupe/file/services/__init__.py
  nupe/file/services/image_upload.py
  nupe/file/views/image_upload.py
  nupe/resources/const/datas/image_upload.py
  nupe/tests/integration_tests/endpoints/__init__.py
  nupe/tests/integration_tests/endpoints/image_upload.py
  nupe/tests/integration_tests/endpoints/person.py
  nupe/tests/integration_tests/endpoints/user.py
  nupe/tests/remove_image_files_after_test.py
  nupe/tests/unit_tests/models/image_upload.py
  nupe/tests/utils.py
Due: dev_backend test, docs build

Corrigir detalhe
  docs/pages/code.rst
Due: docs build

Refatorar antes do merge
  docs/modules/serializers-file.rst
Due: docs build

Adicionar atualizacoes. #49
  .gitlab-ci.yml
  pyproject.toml
Due: none

Atualizar docs/conf.py para rodar os jobs
  docs/conf.py
Due: docs build

Adicionar endpoint de instituiçao, campus e os testes necessarios. #39
  nupe/core/migrations/0003_add__academic_education_campus__campus__institution__institution_campus.py
  nupe/core/models/institution.py
  nupe/core/router.py
  nupe/core/serializers/__init__.py
  nupe/core/serializers/institution.py
  nupe/core/views/__init__.py
  nupe/core/views/institution.py
  nupe/resources/const/datas/institution.py
  nupe/tests/integration_tests/endpoints/__init__.py
  nupe/tests/integration_tests/endpoints/institution.py
Due: dev_backend test

Finalizar implementacao dos endpoints de instituicao e campus. #39
  docs/api/schema.yaml
  docs/modules/filters-core.rst
  docs/modules/serializers-core.rst
  nupe/core/filters/__init__.py
  nupe/core/filters/institution.py
  nupe/core/filters/student.py
  nupe/core/serializers/__init__.py
  nupe/core/serializers/course.py
  nupe/core/serializers/institution.py
  nupe/core/views/institution.py
  nupe/core/views/person.py
  nupe/core/views/student.py
  nupe/tests/integration_tests/endpoints/institution.py
  nupe/urls.py
Due: dev_backend test, docs build

Coverage ignore
  nupe/core/serializers/course.py
  nupe/core/serializers/institution.py
Due: dev_backend test

Adicionar endpoint de localizacao, cidade e estado, documentacao e testes. #51
  docs/modules/filters-core.rst
  docs/modules/serializers-core.rst
  nupe/core/filters/__init__.py
  nupe/core/filters/location.py
  nupe/core/management/commands/populate.py
  nupe/core/router.py
  nupe/core/serializers/__init__.py
  nupe/core/serializers/location.py
  nupe/core/views/__init__.py
  nupe/core/views/location.py
  nupe/tests/integration_tests/endpoints/__init__.py
  nupe/tests/integration_tests/endpoints/institution.py
  nupe/tests/integration_tests/endpoints/location.py
  nupe/tests/integration_tests/endpoints/person.py
  nupe/tests/integration_tests/endpoints/student.py
Due: dev_backend test, docs build

Inicialiazação da tela de criação
  .vscode/settings.json
  nupe_frontend/components/templates/CreatePerson.vue
  nupe_frontend/components/templates/TitleBar.vue
  nupe_frontend/package-lock.json
  nupe_frontend/package.json
  nupe_frontend/pages/create.vue
  nupe_frontend/pages/index.vue
Due: none

Finalizar a tela dos endpoints Person e Student
  nupe_frontend/components/register/Person.vue
  nupe_frontend/components/register/Student.vue
  nupe_frontend/components/register/Users/CreateUsers.vue
  nupe_frontend/components/register/Users/ListUsers.vue
  nupe_frontend/components/register/Users/MainUsers.vue
  nupe_frontend/components/templates/CreatePerson.vue
  nupe_frontend/pages/SystemUsers.vue
  nupe_frontend/pages/create.vue
Due: none

Finalizar tela para o endpoint Student
  nupe_frontend/components/register/People/CreatePeople.vue
  nupe_frontend/components/register/People/ListPeople.vue
  nupe_frontend/components/register/People/MainPeople.vue
  nupe_frontend/components/register/Users/MainUsers.vue
  nupe_frontend/pages/SystemPeople.vue
Due: none

Finalizar sistema de login para Students
  nupe_frontend/components/register/People/ListPeople.vue
  nupe_frontend/components/register/People/MainPeople.vue
  nupe_frontend/components/register/People/SelectPerson.vue
  nupe_frontend/components/register/Students/CreateStudents.vue
  nupe_frontend/components/register/Students/ListStudents.vue
  nupe_frontend/components/register/Students/MainStudents.vue
  nupe_frontend/components/register/Students/SelectStudent.vue
  nupe_frontend/components/register/Users/ListUsers.vue
  nupe_frontend/components/register/Users/MainUsers.vue
  nupe_frontend/components/register/Users/SelectUser.vue
  nupe_frontend/pages/SystemStudents.vue
Due: none

Finalizado telas de criação
  nupe_frontend/components/register/People/MainPeople.vue
  nupe_frontend/components/register/Students/CreateStudents.vue
  nupe_frontend/components/register/Students/ListStudents.vue
  nupe_frontend/components/register/Students/MainStudents.vue
  nupe_frontend/components/register/Students/SelectStudent.vue
  nupe_frontend/components/register/Users/MainUsers.vue
Due: none

Adicionar container para o frontend. #53
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .gitignore
  dev_backend.Dockerfile
  dev_frontend.Dockerfile
  docker-compose.yml
  docs/pages/api.rst
  nupe_frontend/.gitignore
  nupe_frontend/nuxt.config.js
  nupe_frontend/package.json
Due: docs build

Adicionar job para build e deploy do frontend. #53
  .gitlab-ci.yml
  dev_frontend.Dockerfile
  dev_frontend.env
  docker-compose.yml
  nupe_frontend/nuxt.config.js
Due: none

Adicionar endpoint, documentacao e testes de curso, grau e formacao academica. #40
  .extensions
  .gitlab-ci.yml
  docs/modules/filters-core.rst
  docs/modules/serializers-core.rst
  nupe/core/filters/__init__.py
  nupe/core/filters/course.py
  nupe/core/migrations/0003_add__academic_education_campus__campus__institution__institution_campus.py
  nupe/core/migrations/0004_add__person.py
  nupe/core/models/institution.py
  nupe/core/models/person.py
  nupe/core/router.py
  nupe/core/serializers/__init__.py
  nupe/core/serializers/course.py
  nupe/core/utils/regex.py
  nupe/core/views/__init__.py
  nupe/core/views/course.py
  nupe/core/views/location.py
  nupe/resources/const/datas/course.py
  nupe/resources/const/messages/regex.py
  nupe/tests/integration_tests/endpoints/__init__.py
  nupe/tests/integration_tests/endpoints/course.py
  nupe/tests/integration_tests/endpoints/institution.py
  nupe/tests/integration_tests/endpoints/person.py
  nupe_frontend/package.json
Due: dev_backend test, docs build

Adicionar dir node_modules. #55
  .gitlab-ci.yml
Due: none

Alterar script. #55
  .gitlab-ci.yml
Due: none

Alterar git strategy do job. #55
  .gitlab-ci.yml
Due: none

idk
  .gitlab-ci.yml
Due: none

Alterar git strategy novamente. #55
  .gitlab-ci.yml
Due: none

Alterar before_script. #55
  .gitlab-ci.yml
Due: none

Remover git strategy. #55
  .gitlab-ci.yml
Due: none

Corrigir job. #55
  .gitlab-ci.yml
Due: none

Path conditions:
  dev_backend test: any of: manage.py, nupe/**/*
  docs build: any of: docs/**/*
