Repository fabricadesoftware-ifc/fabricaNUPE_backEnd: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dev_backend_image push to container_registry, dev_frontend_image push to container_registry, docs build, dev_frontend build, dev_backend test, docs deploy, dev_frontend deploy

dev_backend_image push to container_registry:
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  stage: build
  variables:
    IMAGE_TAG: $CI_REGISTRY_IMAGE/nupe:backend
  before_script:
  - mkdir -p /kaniko/.docker
  ...

dev_frontend_image push to container_registry:
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  stage: build
  variables:
    IMAGE_TAG: $CI_REGISTRY_IMAGE/nupe:frontend
  before_script:
  - mkdir -p /kaniko/.docker
  ...

docs build:
  image: $CI_REGISTRY_IMAGE/nupe:backend
  stage: build
  before_script:
  - ./manage.py generate_swagger -o docs/api/schema.yaml
  script: make -C docs/ html
  artifacts:
    name: docs-nupe builded
    expire_in: 30min
    paths:
    - $DOCS_PATH

dev_frontend build:
  image: $CI_REGISTRY_IMAGE/nupe:frontend
  stage: build
  before_script:
  - cd nupe_frontend
  - npm install
  script: npm run build
  artifacts:
    name: dev_frontend builded
    expire_in: 30min
    paths:
    - $DIST_PATH

dev_backend test:
  image: $CI_REGISTRY_IMAGE/nupe:backend
  services:
  - postgres:13.0-alpine
  variables:
    DATABASE_URL: postgres://$POSTGRES_USER:$POSTGRES_PASSWORD@postgres:5432/$POSTGRES_DB
  stage: test
  script:
  - black --check --diff nupe
  - isort -rc -q nupe
  - flake8 --show-source nupe
  - bandit -rq -x nupe/tests/ nupe
  ...

docs deploy:
  image: node
  stage: deploy
  variables:
    GIT_STRATEGY: none
  before_script:
  - npm install -g surge
  script: surge -p $DOCS_PATH -d $DOCS_URL
  dependencies:
  - docs build
  environment:
    name: docs-nupe
    url: $DOCS_URL
  needs:
  - docs build

dev_frontend deploy:
  image: node
  stage: deploy
  variables:
    GIT_STRATEGY: none
  before_script:
  - npm install -g surge
  script: surge -p $DIST_PATH -d $DIST_URL
  dependencies:
  - dev_frontend build
  environment:
    name: frontend-nupe
    url: $DIST_URL
  needs:
  - dev_frontend build

se achando no projeto
  core.png
  nupe/settings.py
  pdm.lock
  requirements.txt
  uploader.zip
Due: dev_backend test

set secret key
  .env.exemplo
  envsample
Due: none

correção arquivo settings e exclusao temporaria dos metodos de segurança
  db.sqlite3
  envsample
  nupe/settings.py
Due: dev_backend test

Update README.md
  README.md
Due: none

Erro de profile image arrumado
  db.sqlite3
  nupe/core/serializers/person.py
  nupe/settings.py
  nupe/urls.py
  pdm.lock
  pyproject.toml
  requirements.txt
Due: dev_backend_image push to container_registry, dev_backend test

fix
  db.sqlite3
Due: none

Add novos campus
  db.sqlite3
Due: none

fazendo funcionar o upload de img
  db.sqlite3
  nupe/core/serializers/person.py
  nupe/urls.py
  pdm.lock
  pyproject.toml
  requirements.txt
Due: dev_backend_image push to container_registry, dev_backend test

Criação da tabela Team e ajustes
  core.png
  db.sqlite3
  nupe/core/admin.py
  nupe/core/migrations/0011_team.py
  nupe/core/migrations/0012_student_team.py
  nupe/core/migrations/0013_alter_student_team.py
  nupe/core/models/__init__.py
  nupe/core/models/student.py
  nupe/core/models/team.py
  nupe/core/serializers/team.py
  nupe/core/views/__init__.py
  nupe/core/views/team.py
Due: dev_backend test

fix
  db.sqlite3
  nupe/core/models/student.py
  nupe/core/router.py
Due: dev_backend test

Path conditions:
  dev_backend_image push to container_registry: any of: dev_backend.Dockerfile, poetry.lock, pyproject.toml
  dev_frontend_image push to container_registry: any of: dev_frontend.Dockerfile, nupe_frontend/package-lock.json, nupe_frontend/package.json
  docs build: any of: docs/**/*
  dev_frontend build: any of: nupe_frontend/**/*
  dev_backend test: any of: manage.py, nupe/**/*
  docs deploy: any of: docs/**/*
  dev_frontend deploy: any of: nupe_frontend/**/*
