Repository fabricadesoftware-ifc/fabricaNUPE_backEnd: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dev_backend_image push to container_registry, dev_frontend_image push to container_registry, dev_frontend build, dev_backend test, dev_frontend deploy

dev_backend_image push to container_registry:
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  stage: pre-build
  variables:
    IMAGE_TAG: $CI_REGISTRY_IMAGE/nupe:backend
  before_script:
  - mkdir -p /kaniko/.docker
  ...

dev_frontend_image push to container_registry:
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  stage: pre-build
  variables:
    IMAGE_TAG: $CI_REGISTRY_IMAGE/nupe:frontend
  before_script:
  - mkdir -p /kaniko/.docker
  ...

dev_frontend build:
  image: $CI_REGISTRY_IMAGE/nupe:frontend
  stage: build
  before_script:
  - cd nupe_frontend/
  - npm install
  script: npm run build
  artifacts:
    name: dev_frontend builded
    expire_in: 30min
    paths:
    - $DIST_PATH

dev_backend test:
  image: $CI_REGISTRY_IMAGE/nupe:backend
  stage: test
  script: python manage.py test

dev_frontend deploy:
  image: node
  stage: deploy
  variables:
    GIT_STRATEGY: none
  before_script:
  - npm install -g surge
  script: surge -p $DIST_PATH -d $DIST_URL
  dependencies:
  - dev_frontend build
  environment:
    name: frontend-nupe
    url: $DIST_URL
  needs:
  - dev_frontend build

Adicionar service e database_url no job de teste do backend. #65
  .gitlab-ci.yml
Due: none

Finalizar correcao dos jobs. #65
  .gitlab-ci.yml
  dev_frontend.Dockerfile
  docker-compose.yml
Due: dev_frontend_image push to container_registry

Corrigir label
  dev_backend.Dockerfile
  dev_frontend.Dockerfile
Due: dev_backend_image push to container_registry, dev_frontend_image push to container_registry

adicionar tabela de atendimento. #8
  nupe/core/management/commands/populate.py
  nupe/core/migrations/0008_add__attendance__account_attendance.py
  nupe/core/models/__init__.py
  nupe/core/models/attendance.py
  nupe/core/router.py
  nupe/core/serializers/__init__.py
  nupe/core/serializers/attendance.py
  nupe/core/views/__init__.py
  nupe/core/views/attendance.py
  nupe/tests/integration/core/__init__.py
  nupe/tests/integration/core/attendance.py
  nupe/tests/unit/core/models/__init__.py
  nupe/tests/unit/core/models/attendance.py
Due: dev_backend test

Finalizar testes para a nova implementacao de atendimento. #8
  nupe/core/models/student.py
  nupe/core/serializers/attendance.py
  nupe/core/serializers/student.py
  nupe/tests/integration/core/attendance.py
  nupe/tests/integration/core/course.py
  nupe/tests/integration/core/institution.py
  nupe/tests/integration/core/job.py
  nupe/tests/integration/core/person.py
  nupe/tests/integration/core/student.py
Due: dev_backend test

Adicionar documentacao para a nova implementacao de atendimento. #8
  docs/api/schema.yaml
  docs/modules/models-core.rst
  docs/modules/serializers-core.rst
  nupe/core/models/attendance.py
  nupe/core/serializers/attendance.py
  nupe/core/views/attendance.py
  nupe/core/views/institution.py
  nupe/core/views/job.py
  nupe/core/views/location.py
  nupe/core/views/person.py
  nupe/core/views/reason.py
  nupe/core/views/student.py
Due: dev_backend test

Adicionar filtros para o endpoint de atendimento. #8
  nupe/core/filters/__init__.py
  nupe/core/filters/attendance.py
  nupe/core/models/student.py
  nupe/core/views/attendance.py
Due: dev_backend test

Cobrir os testes faltantes.
  nupe/tests/unit/core/models/__init__.py
  nupe/tests/unit/core/models/attendance.py
  nupe/tests/unit/core/models/student.py
Due: dev_backend test

Finalizar remodelagem de motivo de atendimento. #67
  docs/modules/filters-core.rst
  docs/modules/models-core.rst
  docs/modules/serializers-core.rst
  nupe/account/migrations/0001_add__account.py
  nupe/core/filters/__init__.py
  nupe/core/filters/reason.py
  nupe/core/migrations/0007_add__attendance_reason.py
  nupe/core/migrations/0007_add__special_need_type__crisis_type__drug_type__attendance_reason.py
  nupe/core/migrations/0008_add__attendance__account_attendance.py
  nupe/core/models/__init__.py
  nupe/core/models/attendance.py
  nupe/core/models/reason.py
  nupe/core/router.py
  nupe/core/serializers/__init__.py
  nupe/core/serializers/reason.py
  nupe/core/views/__init__.py
  nupe/core/views/reason.py
  nupe/tests/integration/core/__init__.py
  nupe/tests/integration/core/reason.py
  nupe/tests/unit/core/models/__init__.py
  nupe/tests/unit/core/models/attendance.py
  nupe/tests/unit/core/models/reason.py
Due: dev_backend test

Melhorar teste do filtro de motivos de atendimento. #67
  nupe/tests/integration/core/reason.py
Due: dev_backend test

Finalizar comando de populate. #66
  nupe/core/management/commands/populate.py
  nupe/core/migrations/0003_add__academic_education_campus__institution__campus.py
  nupe/core/migrations/0006_add__function__sector.py
  nupe/core/models/institution.py
  nupe/core/models/job.py
  nupe/core/models/reason.py
  nupe/core/serializers/institution.py
  nupe/core/views/institution.py
  nupe/resources/datas/core/populate.py
  nupe/tests/unit/core/models/reason.py
Due: dev_backend test

Att doc
  docs/conf.py
Due: none

Adicionar filtro por usuario e estudante no endpoint de atendimento. #71
  nupe/core/filters/attendance.py
Due: dev_backend test

Finalizar remodelagem de curso e grau. #72
  docs/modules/filters-core.rst
  docs/modules/models-core.rst
  docs/modules/serializers-core.rst
  nupe/core/filters/__init__.py
  nupe/core/filters/course.py
  nupe/core/migrations/0002_add__institution__campus.py
  nupe/core/migrations/0003_add__academic_education__grade__academic_education_campus.py
  nupe/core/migrations/0004_add__person.py
  nupe/core/models/__init__.py
  nupe/core/models/course.py
  nupe/core/models/institution.py
  nupe/core/router.py
  nupe/core/serializers/__init__.py
  nupe/core/serializers/course.py
  nupe/core/serializers/student.py
  nupe/core/views/__init__.py
  nupe/core/views/course.py
  nupe/resources/datas/core/course.py
  nupe/tests/integration/core/__init__.py
  nupe/tests/integration/core/course.py
  nupe/tests/integration/core/student.py
  nupe/tests/unit/core/models/__init__.py
  nupe/tests/unit/core/models/course.py
  nupe/tests/unit/core/models/institution.py
Due: dev_backend test

Finalizar populate. #73
  nupe/core/management/commands/populate.py
  nupe/core/migrations/0003_add__academic_education__grade__academic_education_campus.py
  nupe/core/migrations/0004_add__person.py
  nupe/core/models/attendance.py
  nupe/core/models/course.py
  nupe/core/models/person.py
  nupe/core/models/reason.py
  nupe/core/models/student.py
  nupe/resources/datas/core/populate.py
Due: dev_backend test

Corrigir testes
  nupe/tests/unit/core/models/attendance.py
  nupe/tests/unit/core/models/course.py
  nupe/tests/unit/core/models/reason.py
  nupe/tests/unit/core/models/student.py
Due: dev_backend test

Adicionar RF nas funcionalidades. #74
  nupe/account/views/account.py
  nupe/core/filters/attendance.py
  nupe/core/views/attendance.py
  nupe/core/views/course.py
  nupe/core/views/job.py
  nupe/core/views/student.py
  nupe/urls.py
Due: dev_backend test

Adicionar action de relatorio e exibir atendimentos do usuario logado. #75
  docs/api/schema.yaml
  docs/modules/serializers-core.rst
  nupe/account/models/account.py
  nupe/account/serializers/__init__.py
  nupe/account/serializers/account.py
  nupe/account/views/account.py
  nupe/core/migrations/0008_add__attendance__account_attendance.py
  nupe/core/models/attendance.py
  nupe/core/serializers/__init__.py
  nupe/core/serializers/attendance.py
  nupe/core/serializers/course.py
  nupe/core/serializers/institution.py
  nupe/core/serializers/student.py
  nupe/core/views/attendance.py
  nupe/core/views/course.py
  nupe/core/views/institution.py
  nupe/core/views/job.py
  nupe/core/views/location.py
  nupe/core/views/person.py
  nupe/core/views/reason.py
  nupe/core/views/student.py
  nupe/file/serializers/__init__.py
  nupe/file/views/image_upload.py
  nupe/tests/integration/core/attendance.py
  nupe/tests/unit/account/models/account.py
  nupe/tests/unit/core/models/attendance.py
Due: dev_backend test

Finalizar custom action de relatorio e atendimentos pessoais. #75
  docs/api/schema.yaml
  nupe/core/views/attendance.py
  nupe/tests/integration/core/attendance.py
Due: dev_backend test

Tela de campus
  docker-compose-back.yml
  docker-compose-db.yml
  nupe_frontend/components/campus/ListarCampus.vue
  nupe_frontend/pages/campus.vue
  nupe_frontend/yarn.lock
Due: dev_frontend build, dev_frontend deploy

crud de campus e instituição
  .vscode/settings.json
  nupe_frontend/components/campus/CadastroCampus.vue
  nupe_frontend/components/campus/EditarCampus.vue
  nupe_frontend/components/campus/PagCampus.vue
  nupe_frontend/components/instituicao/CadastroInstituicao.vue
  nupe_frontend/components/instituicao/EditarInstituicao.vue
  nupe_frontend/components/instituicao/ListarInstituicao.vue
  nupe_frontend/components/instituicao/PagInstituicao.vue
  nupe_frontend/pages/cadastroCampus.vue
  nupe_frontend/pages/cadastroInstituicao.vue
  nupe_frontend/pages/editarCampus.vue
  nupe_frontend/pages/editarInstituicao.vue
  nupe_frontend/pages/listarCampus.vue
  nupe_frontend/pages/listarInstituicao.vue
Due: dev_frontend build, dev_frontend deploy

Documentação Swagger
  nupe/settings.py
  nupe/urls.py
  poetry.lock
  pyproject.toml
Due: dev_backend_image push to container_registry, dev_backend test

Documentação
  docs/conf.py
  docs/modules/filters-core.rst
  docs/pages/about.rst
  documentation/CodigosYuml.txt
  documentation/DiagramaClasses-1.pdf
  documentation/DiagramaClasses-2-comAtributos.pdf
  documentation/DiagramaDeCasoDeUso.pdf
  models.png
  nupe/settings.py
  poetry.lock
  pyproject.toml
Due: dev_backend_image push to container_registry, dev_backend test

Atualiza gitlab
  .gitlab-ci.yml
Due: none

Update packages deps
  pyproject.toml
Due: dev_backend_image push to container_registry

Update lockfile of poetry
  poetry.lock
Due: dev_backend_image push to container_registry

Update lockfile of poetry
  poetry.lock
  pyproject.toml
Due: dev_backend_image push to container_registry

Ajustar para deploy no Dokku
  Procfile
  nupe/settings.py
  poetry.lock
  pyproject.toml
  runtime.txt
Due: dev_backend_image push to container_registry, dev_backend test

Diagrama de Atividades
  documentation/DiagramaAtividades.pdf
Due: none

Iniciação da recuperação do projeto
  poetry.lock
  pyproject.toml
Due: dev_backend_image push to container_registry

Atualização e recuperação do projeto
  .pdm-python
  .vscode/settings.json
  core.png
  nupe/account/migrations/0002_account_deleted_by_cascade_alter_account_deleted_and_more.py
  nupe/account/views/account.py
  nupe/core/admin.py
  nupe/core/migrations/0009_academiceducation_deleted_by_cascade_and_more.py
  nupe/core/views/attendance.py
  nupe/core/views/course.py
  nupe/file/migrations/0002_alter_profileimage_id.py
  nupe/settings.py
  nupe/urls.py
  pdm.lock
  poetry.lock
  pyproject.toml
  requirements.txt
  src/fabricanupe_backend/__init__.py
  tests/__init__.py
Due: dev_backend_image push to container_registry, dev_backend test

fix
  .gitignore
  .pdm-python
  db.sqlite3
  pdm.lock
Due: none

Config client
  .gitignore
  core.png
  db.sqlite3
  pyproject.toml
Due: dev_backend_image push to container_registry

fix envexample
  envsample
Due: none

correção localhost
  nupe/settings.py
Due: dev_backend test

Upload de imagens e integração do uploader
  core.png
  db.sqlite3
  nupe/core/migrations/0010_alter_person_profile_image.py
  nupe/core/models/person.py
  nupe/core/serializers/person.py
  nupe/settings.py
  nupe/urls.py
  pdm.lock
  pyproject.toml
  requirements.txt
  uploader/__init__.py
  uploader/admin.py
  uploader/apps.py
  uploader/helpers/files.py
  uploader/migrations/0001_initial.py
  uploader/migrations/__init__.py
  uploader/models/__init__.py
  uploader/models/document.py
  uploader/models/image.py
  uploader/router.py
  uploader/serializers/__init__.py
  uploader/serializers/document.py
  uploader/serializers/image.py
  uploader/tests.py
  uploader/views.py
Due: dev_backend_image push to container_registry, dev_backend test

correção de erro
  db.sqlite3
  nupe/core/serializers/person.py
Due: dev_backend test

Path conditions:
  dev_backend_image push to container_registry: any of: dev_backend.Dockerfile, poetry.lock, pyproject.toml
  dev_frontend_image push to container_registry: any of: dev_frontend.Dockerfile, nupe_frontend/package-lock.json, nupe_frontend/package.json
  dev_frontend build: any of: nupe_frontend/**/*
  dev_backend test: any of: manage.py, nupe/**/*
  dev_frontend deploy: any of: nupe_frontend/**/*
